{{ define "main" }}
  <article>
    <div class="content-titlebar">
      <h1 class="content-title">{{ .Title }}</h1>
      {{ partial "languages.html" $ }}
    </div>
    <ul class="tags-list">
      {{ range .Data.Terms.ByCount }}
        {{ $valid := where .Pages "Params.expire" "ge" now | union (where .Pages "Params.expire" "eq" nil) }}
        {{ if gt (len $valid) 0 }}
          <li class="tags-list-item">
            {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
            <a class="tags-list-item-title" href="{{ .Page.RelPermalink }}">
              ({{ len $valid }})
              {{ .Page.Title }}
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </article>
{{ end }}
