.post-title {
  color: $lightest-color;
}

.post-meta > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2em;
  font-size: 0.8em;

  > .icon {
    margin-right: 0.4em;
  }
}

.post-content {
  & > pre,
  .highlight {
    margin: 1em 0;
  }

  & > pre,
  .highlight > pre,
  .highlight > div {
    overflow: auto;
    word-break: break-all;
    white-space: pre-wrap;
    border-left: 0.4rem solid $primary-color;
    padding: 1em 1em;
  }

  blockquote {
    border-left: 0.4rem solid $light-color;
    margin: 1em 0em;
    padding: .5em 1em;
    background: $gray-color;

    p {
      margin: .5em 0;
    }
  }

  img {
    max-width: 100%;
  }
}
